{% load static %}

<header class="header-default">
    <nav class="navbar navbar-expand-lg">
        <div class="container-xl">
            <!-- logo  -->
            <a href="index.html" class="navbar-brand">
                <img src="{% static 'images/logo.png' %}" alt="" style="height: 75px;">
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                   
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a href="#" class="nav-link dropdown-toggle">Blogs</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" class="dropdown-item">Upload Blog</a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a href="#" class="nav-link dropdown-toggle">Profile</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="login.html" class="dropdown-item">Login</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Sign Up</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>

            <!-- right side of header  -->
            <div class="header-right">
                <ul class="social-icons list-unstyled list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-itunes"></i></a>
                    </li>
                   
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>

                <!-- buttons  -->
                <div class="header-buttons">
                    <button class="search icon-button">
                        <i class="icon-magnifier"></i>
                    </button>
                    <button class="burger-menu icon-button">
                        <span class="burger-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>